{% extends 'blog/base_template.html' %}

{% block content %}
    <section class="hero ">
        <div class="hero-body">
            <div class="container">
                <section class="section">
                    <div class="columns is-variable is-8">
                        <div class="column is-5 is-offset-1 ">
                            <form method="post">
                                {% csrf_token %}
                                <input id="username" type="text" name="username" value="Username">
                                {% if create_account %}<input id="email" type="email" name="email" value="E-mail">{% endif %}
                                <input id="password" type="password" name="password" value="Senha">
                                <input type="submit" value="OK">
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock %}